<div class="row">
  <div class="panel-pregunta col-md-8">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-9 text-left">
          <h2><%=@question.pregunta%></h2>
          <p> Creada por <%= @question.user.nombre %> <%= @question.user.apellido %></p>
        </div>
        <div class="col-sm-3 text-right">
          <h4><small><em><%=@question.created_at.strftime("%d/%m/%Y")%></em></small></h4>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <p> <%= @question.detalles %></p>

      <div class="pull-right" >
        <p> Votos positivos:<%= @question.positive_votes %> | Votos negativos:<%= @question.negative_votes %></p>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="panel-footer">
        <div class="pull-left">
          <%= link_to "Responder", new_answer_path(:question_id => @question.id), class: 'btn btn-primary' %>

          <% if current_user == @question.user %>
            <%= link_to "Editar", edit_question_path(@question), class: 'btn btn-primary' %>
            <%= link_to "Eliminar", @question, method: :delete, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>

        <div class="pull-right" style="margin-bottom:10px">
          <% if Qvote.exists?(:user_id => current_user.id, :question_id => @question.id, :positivo => true)%>
            <%= link_to qvote_path(:user_id => current_user.id, :question_id => @question.id, :positivo => true), method: :delete, class: 'btn btn-default' do%>
              <i class="fa fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <%= link_to new_qvote_path(:user_id => current_user.id, :question_id => @question.id, :positivo => true), class: 'btn btn-default' do%>
              <i class="fa fa-thumbs-o-up"></i>
            <% end %>
          <% end %>

          <% if Qvote.exists?(:user_id => current_user.id, :question_id => @question.id, :positivo => false)%>
            <%= link_to qvote_path(:user_id => current_user.id, :question_id => @question.id, :positivo => false), method: :delete, class: 'btn btn-default' do%>
              <i class="fa fa-thumbs-down"></i>
            <% end %>
          <% else %>
            <%= link_to new_qvote_path(:user_id => current_user.id, :question_id => @question.id, :positivo => false), class: 'btn btn-default' do%>
              <i class="fa fa-thumbs-o-down"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</br>

<%@question.answers.order('created_at ASC').each do |answer|%>
  <div class="panel-respuesta col-md-8">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-9 text-left">
          <p> Creada por <%= answer.user.nombre %> <%= answer.user.apellido %></p>
        </div>
        <div class="col-sm-3 text-right">
          <h4><small><em><%=@question.created_at.strftime("%d/%m/%Y")%> <%=answer.created_at.strftime("%H:%M:%S")%></em></small></h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p> <%= answer.respuesta %></p>
    </div>

    <div class="panel-footer">
      <% if user_signed_in? %>

        <% if Avote.exists?(:user_id => current_user.id, :answer => answer.id)%>
          <%= link_to "Quitar voto", avote_path(:user_id => current_user.id, :question_id => @question.id, :answer_id => answer.id), method: :delete, class: 'btn btn-danger btn-sm' %>
        <% else %>
          <%= link_to "Votar", new_avote_path(:user_id => current_user.id, :question_id => @question.id, :answer_id => answer.id), class: 'btn btn-primary' %>
        <% end %>

        <% if current_user == answer.user %>
            <%= link_to "Editar", edit_answer_path(answer), class: 'btn btn-primary' %>
            <%= link_to "Eliminar", @answer, method: :delete, class: 'btn btn-danger btn-sm' %>
        <%end%>
      <%end%>
    </div>
  </div>
<%end%>
