  <div class="panel-body">
    <%= form_for @tag do |f| %>
      <% if @question.errors.any? %>
        <div class="alert alert-danger devise-errors">
            <% @question.errors.full_messages.each do |error_message| %>
            <%= error_message %> <br />
            <% end %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <%= f.label :nombre %>
          <%= f.text_area :nombre, class: 'form-control', label: 'Etiqueta', required:true, placeholder: 'Ingrese la etiqueta' %>
        </div>
      </div>
      </br>
      </br>

      <%= f.submit msgsub, class: 'btn btn-primary' %>
    <% end %>
  </div>