<!DOCTYPE html>
<html>
  <head>
    <title>Educanding</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-theme.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to root_path, class: 'navbar-brand-logo' do %>
            <%= image_tag "educanding_azul.png", title: "Logo", class: "logo", style:"height:50px"%>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/questions">Preguntas</a></li>
          </ul>

          <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logueado como <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </div>
    </nav>



    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
    
		<div class="footer">
			<div class="container">
				<div class="col-md-12 text-muted">
					&copy; 2017 Softcat
				</div>
			</div>
		</div>

  </body>
</html>
